@import './reset.scss';

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;

  color: #141414;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 600;
}

p {
  line-height: 1.55;
}