.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  margin-bottom: 32px;
  
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 18px;
    font-weight: 600;
  }
}

.nav {
  &__list {
    display: flex;
  }

  &__link {
    outline: 0;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    transition: background-color 150ms ease-in;
    font-size: 15px;
    font-weight: 500;

    &:hover {
      background-color: #F9FAFC;
    }

    &.active {
      border-bottom: 1.5px solid #419BFF;
    }

    i {
      display: flex;
      font-size: 20px;
      margin-right: 8px;
    }
  }
}