.homepage {

  .banner {
    margin-top: 32px;
    width: 100%;
    padding: 24px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 3px 13px rgba(20, 20, 20, 0.04);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .user-data {
      h1 {
        font-size: 28px;
        font-weight: 600;
        color: rgb(10, 34, 71);
      }

      h3 {
        font-size: 20px;
        font-weight: 500;
        margin-top: 4px;
        color: rgba(36, 36, 36, 0.8);
      }
    }

    .balance {
      padding: 18px 24px;
      border-radius: 4px;
      background-color: #E8F7FA;

      h3 {
        color: #8EBBCC;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
      }

      p {
        color: rgb(49, 121, 151);
        font-size: 20px;
        font-weight: 500;
        margin-top: 5px;
        margin-bottom: 0;
      }

    }
  }

  .accounts {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
  }
}